<p class="ask">Ask your coach anything:</p>
<form action="/answer">
  <div class="input-group">
    <input type="text" class="form-control col-3 rounded-left" name="question">
    <div class="input-group-btn">
      <button class="btn btn-primary rounded-right" type="submit">
        Ask
      </button>
    </div>
  </div>
</form>